/*color palette: 
1. #fff5e9 - beige
2. #e75450 - red
2. #ffb833 - yellow
3. #ff832f - orange
4. #d17352 - brown
5. #ffb08d - salmon
6. #383333 - grey/black
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #383333;
}

nav {
  width: 100%;
  background-color: #fff5e9;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.logo-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.logo-dot.one {
  background-color: #ffb833;
}
.logo-dot.two {
  background-color: #ff832f;
}
.logo-dot.three {
  background-color: #e75450;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  list-style-type: none;
}

.hero {
  background-color: #fff5e9;
}

.hero-content {
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-image {
  width: 100%;
  max-width: 300px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.styled-break {
  width: 30%;
  height: 6px;
  background-color: #e75450;
  border-radius: 3px;
  margin: 25px 0;
}

#name {
  margin-bottom: 8px;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.8em 1.5em;
  background-color: #faaa4d;
  border-radius: 2em;
  color: white;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 3px 3px #faa94da8;
  cursor: pointer;
}
#technologies {
  padding: 2rem;
}
#technologies ul {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

#technologies li img {
  height: 100px;
  width: auto;
  margin-bottom: 1rem;
  display: block;
}

section {
  text-align: center;
  width: 90vw;
  margin: 1.5rem auto;
}

.interests ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}

.interests li {
  border: solid 2px #ffb833;
  border-radius: 4px;
  margin-top: 1rem;
  list-style-type: none;
  transform: rotate(3deg);
}

.interests div {
  padding: 1rem;
  border-radius: 4px;
  border: solid 2px #e75450;
  transform: rotate(-3deg);
  height: 100%;
}

footer {
  height: 60px;
  background-color: #ffb08d;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .logo {
    flex-direction: row;
    gap: 4px;
  }

  .nav-options {
    flex-direction: row;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav-content {
    max-width: 1000px;
  }
  .nav-options {
    gap: 1rem;
  }
  .hero-content {
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .hero-info {
    max-width: 700px;
  }
  .interests ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    width: 80vw;
    max-width: 1000px;
  }

  .interests ul li {
    flex: 1;
  }
}
