* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #383333;
  position: relative;
}

nav {
  width: 100%;
  background-color: #fff5e9;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.logo-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.logo-dot.one {
  background-color: #ffb833;
}
.logo-dot.two {
  background-color: #ff832f;
}
.logo-dot.three {
  background-color: #e75450;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  list-style-type: none;
}

.contact {
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.75rem;
}

.contact h1 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #383333;
  font-size: 1.25rem;
  font-weight: bold;
}

.contact-option-card {
  border: 2px solid #ffb08d;
  border-radius: 4rem;
  padding: 1em 2em;
  background-color: #fff5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  word-break: break-all;
}

.contact a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.contact i {
  font-size: 1.5rem;
}

.contact-option-card:hover {
  color: #fff;
  background-color: #ffb08d;
  cursor: pointer;
}

.modal-clipboard {
  z-index: 1;
  background-color: #ffb08d;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 4em;
  border-radius: 3em;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slide-in {
  animation: slideIn 2s;
}

@keyframes slideIn {
  0% {
    top: -70px;
  }
  20% {
    top: 170px;
  }
  80% {
    top: 170px;
  }
  100% {
    top: -70px;
  }
}

footer {
  height: 60px;
  background-color: #ffb08d;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  body {
    gap: 10rem;
  }

  .logo {
    flex-direction: row;
  }

  .nav-options {
    flex-direction: row;
    gap: 0.5rem;
  }

  .contact {
    max-width: none;
  }

  .contact h2 {
    font-size: 2rem;
  }
  .contact h1 {
    font-size: 1.75rem;
    margin-bottom: 4rem;
  }

  .contact-options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @keyframes slideIn {
    0% {
      top: -70px;
    }
    20% {
      top: 100px;
    }
    80% {
      top: 100px;
    }
    100% {
      top: -70px;
    }
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 850px) {
  body {
    gap: 13rem;
  }

  .nav-content {
    max-width: 1000px;
  }

  .nav-options {
    gap: 1rem;
  }
}
