* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #383333;
}

nav {
  width: 100%;
  background-color: #fff5e9;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.logo-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.logo-dot.one {
  background-color: #ffb833;
}
.logo-dot.two {
  background-color: #ff832f;
}
.logo-dot.three {
  background-color: #e75450;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  list-style-type: none;
}

.projects-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.page-title {
  text-align: center;
  font-size: 1.375rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.project-card {
  display: grid;
  gap: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.card-subtitle {
  font-size: 1.125rem;
}

.category {
  margin: 0.75rem 0 0.25rem;
  font-size: 1rem;
}

.right-column p {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.right-column li {
  font-size: 0.875rem;
  margin-left: 1.25rem;
  margin-bottom: 0.25rem;
}

.left-column {
  height: 100%;
  width: 100%;
}

.picture-container {
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.left-column img {
  min-width: 200px;
  width: 70%;
  max-width: 250px;
  height: auto;
  position: absolute;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px #1d201e80;
}

.front-picture {
  z-index: 1;
  bottom: 0;
  right: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  border: 2px solid #ffb08d;
  border-radius: 4rem;
  padding: 0.75em 2em;
  background-color: #fff5e9;
  flex: 1;
  margin: 0.75rem 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  font-family: inherit;
}

button:hover {
  color: #fff;

  background-color: #ffb08d;
  cursor: pointer;
}

footer {
  height: 60px;
  background-color: #ffb08d;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  .logo {
    flex-direction: row;
  }

  .nav-options {
    flex-direction: row;
    gap: 0.5rem;
  }
  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 850px) {
  .nav-content {
    max-width: 1000px;
  }

  .nav-options {
    gap: 1rem;
  }
}
