:root {
  --clr-bg: #fff;
  --clr-bg-shade: hsl(0, 27%, 97%);
  --clr-primary: #0d4033;
  --clr-secondary: #dddeeb;
  --clr-accent: #965a7e;

  --clr-font-light: #fff;
  --clr-font-dark: #1e1110;

  --shadow: #1e111069;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--clr-bg);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--clr-font-dark);
}

nav {
  width: 100%;
  background-color: var(--clr-bg-shade);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.nav-options-container a:hover {
  color: var(--clr-accent);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}

.logo-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.logo-dot.one {
  background-color: var(--clr-primary);
}
.logo-dot.two {
  background-color: var(--clr-primary);
  opacity: 0.5;
}
.logo-dot.three {
  background-color: var(--clr-accent);
}

.nav-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  right: 0;
  top: 1rem;
}

.nav-options {
  display: none;
}

.nav-options.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  list-style-type: none;
  position: relative;
  background-color: var(--clr-bg-shade);
  padding: 1rem 1.5rem;
  border-radius: 0 0 0 30px;
}

.hamburger {
  font-size: 1.5rem;
  background-color: transparent;
  margin-top: 4px;
  margin-right: calc(1rem + 4px);
}

.projects-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}

.page-title {
  text-align: center;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin-bottom: -2rem;
}

.styled-break {
  margin: 0 auto;
  width: 250px;
  max-width: 75%;
  height: 4px;
  background-color: var(--clr-secondary);
  border-radius: 3px;
}

.project-card {
  display: grid;
  gap: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.card-subtitle {
  font-size: 1.125rem;
}

.category {
  margin: 0.75rem 0 0.25rem;
  font-size: 1rem;
}

.right-column p {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.right-column li {
  font-size: 0.875rem;
  margin-left: 1.25rem;
  margin-bottom: 0.25rem;
}

.left-column {
  height: 100%;
  width: 100%;
}

.picture-container {
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.double-picture {
  min-width: 200px;
  width: 70%;
  max-width: 250px;
  height: auto;
  position: absolute;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px var(--shadow);
}

.front-picture {
  z-index: 1;
  bottom: 0;
  right: 0;
}

.single-picture-container {
  max-width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.single-picture {
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px var(--shadow);
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.button {
  flex: 1;
  max-width: 180px;
  margin: 0.75rem 0;
  font-size: 1rem;
  text-align: center;
  padding: 0.8em 2em;
  background-color: var(--clr-primary);
  opacity: 0.9;
  border-radius: 0.5em;
  color: var(--clr-font-light);
  text-align: center;
}

.button.primary {
  background-color: var(--clr-accent);
}

.button:hover,
.button:focus {
  opacity: 1;
  cursor: pointer;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.25rem 3px 1px var(--shadow);
  transition-duration: 0.2s;
}

.frontentmentor-link {
  color: var(--clr-accent);
  font-weight: bold;
}

.frontentmentor-link:hover {
  text-decoration: underline;
}

footer {
  height: 60px;
  background-color: var(--clr-accent);
  color: var(--clr-font-light);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  .nav-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    list-style-type: none;
  }

  .nav-options-container {
    position: static;
  }

  .hamburger {
    display: none;
  }

  .styled-break {
    width: 450px;
    max-width: 75%;
  }

  .projects-container {
    gap: 5rem;
  }

  .projects-container {
    width: 80%;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 850px) {
  .nav-content {
    max-width: 1000px;
  }

  .nav-options {
    gap: 1rem;
  }

  .styled-break {
    width: 650px;
    max-width: 75%;
  }

  .page-title {
    text-align: center;
    font-size: 2rem;
  }

  .projects-container {
    width: 85%;
    max-width: 1400px;
  }

  .project-card {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }

  .left-column {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .project-card:nth-child(even) .left-column {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .buttons {
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1000px) {
  .nav-content {
    font-size: 1.125rem;
  }

  .project-card {
    grid-template-columns: 1.25fr 1fr;
  }

  .project-card:nth-child(odd) {
    grid-template-columns: 1fr 1.25fr;
  }

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  .card-subtitle {
    font-size: 1.25rem;
  }

  .category {
    margin: 0.75rem 0 0.25rem;
    font-size: 1.125rem;
  }

  .right-column p {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  .right-column li {
    font-size: 1rem;
    margin-left: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .picture-container {
    max-width: 750px;
  }

  .double-picture {
    min-width: 300px;
    width: 75%;
    max-width: 600px;
    height: auto;
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px #1d201e80;
  }

  .single-picture-container {
    min-width: 475px;
    max-width: 100%;
    height: 100%;
    align-items: center;
  }

  .single-picture {
    width: 100%;
    height: auto;
  }

  .front-picture {
    bottom: 50px;
    right: 0;
  }

  .back-picture {
    top: 50px;
    left: 0;
  }
}

@media screen and (min-width: 1400px) {
  .card-title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .card-subtitle {
    font-size: 1.625rem;
  }

  .category {
    font-size: 1.5rem;
  }

  .right-column p {
    font-size: 1.125rem;
  }

  .right-column li {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.125rem;
  }
}
