* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #383333;
  text-align: center;
  padding: 5rem;
}

h1 {
  font-size: 2rem;
}

i {
  font-size: 5rem;
  color: #e75450;
  font-weight: 100;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  border: 0.75rem solid #e75450;
  border-radius: 50%;
}

button {
  font-size: 1rem;
  padding: 1em 4em;
  background-color: #ffb833;
  border-radius: 1.5em;
}

button:hover {
  cursor: pointer;
  background-color: #409427;
  box-shadow: 0 0 4px 3px #409427;
  color: white;
  font-weight: 700;
}
