:root {
  --clr-bg: #fff;
  --clr-bg-shade: hsl(0, 28%, 96%);
  --clr-primary: #004f3b;
  --clr-secondary: hsl(233, 35%, 93%);
  --clr-accent: #7f0e50;

  --clr-font-light: #fff;
  --clr-font-dark: #1e1110;

  --shadow: #1e111053;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--clr-bg);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--clr-font-dark);
}

nav {
  width: 100%;
  background-color: var(--clr-bg-shade);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-options-container a:hover {
  color: var(--clr-accent);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}

.logo-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.logo-dot.one {
  background-color: var(--clr-primary);
}
.logo-dot.two {
  background-color: var(--clr-primary);
  opacity: 0.5;
}
.logo-dot.three {
  background-color: var(--clr-accent);
}

.nav-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  right: 0;
  top: 1rem;
}

.nav-options {
  display: none;
}

.nav-options.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  list-style-type: none;
  position: relative;
  background-color: var(--clr-bg-shade);
  padding: 1rem 1.5rem;
  border-radius: 0 0 0 30px;
}

.hamburger {
  font-size: 1.5rem;
  background-color: transparent;
  margin-top: 4px;
  margin-right: calc(1rem + 4px);
}

.hero {
  background-color: var(--clr-bg-shade);
  margin-top: -4rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.hero-content {
  width: 90vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 1rem;
  max-width: 70ch;
}

.hero-info {
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
  width: 100%;
}

.hero-info p {
  margin-bottom: 1rem;
}

.styled-break {
  width: 150px;
  height: 4px;
  background-color: var(--clr-primary);
  border-radius: 3px;
  margin: 1rem 0 2rem 0;
}

.buttons-container {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: var(--clr-primary);
  opacity: 0.9;
  border-radius: 0.5em;
  color: var(--clr-font-light);
  text-align: center;
  transition-duration: 0.2s;
}

.button.primary {
  background-color: var(--clr-accent);
}

.button:hover,
.button:focus {
  opacity: 1;
  cursor: pointer;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.25rem 3px 1px var(--shadow);
}

.technologies-container,
.interests-container {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1rem;
  list-style-type: none;
}

.technologies-list li img {
  height: 80px;
  width: auto;
  margin-bottom: 0.5rem;
  display: block;
}

/* .grey {
  filter: grayscale(100%);
} */

.projects-banner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--clr-secondary);
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-banner h2 {
  margin-bottom: 1rem;
}

.projects-banner p {
  margin-bottom: 0.5rem;
}

.projects-banner .buttons-container {
  margin: 0;
}

.interests ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
  max-width: 500px;
}

.interests li {
  border: solid 2px var(--clr-secondary);
  border-radius: 4px;
  margin-top: 1rem;
  list-style-type: none;
  transform: rotate(3deg);
}

.interests-card {
  padding: 1rem;
  border-radius: 4px;
  border: solid 2px var(--clr-accent);
  transform: rotate(-3deg);
  height: 100%;
}

.interests-card h3 {
  margin-bottom: 0.5rem;
}

footer {
  height: 60px;
  background-color: var(--clr-accent);
  color: var(--clr-font-light);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  body {
    gap: 4rem;
  }

  .nav-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    list-style-type: none;
  }

  .nav-options-container {
    position: static;
  }

  .hamburger {
    display: none;
  }

  .hero {
    margin-top: -4rem;
  }

  .technologies-list {
    gap: 2rem;
    padding-top: 2rem;
  }

  .technologies-list li img {
    height: 90px;
    width: auto;
  }

  .projects-banner {
    padding: 1.5em;
  }

  .interests-card {
    padding: 1.5rem;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    gap: 6rem;
  }

  .nav-content {
    max-width: 1300px;
    font-size: 1.125rem;
  }

  .nav-options {
    gap: 1rem;
  }

  .hero {
    margin-top: -6rem;
    padding-top: 3rem;
  }

  .hero-content {
    width: 80vw;
    max-width: fit-content;
    gap: 3rem;
    padding: 2rem 0;
    flex-direction: row;
    justify-content: center;
  }

  .hero-info {
    max-width: 80ch;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  p {
    font-size: 1.125rem;
  }

  .hero-content .buttons-container {
    display: flex;
    flex-direction: column;
    order: -1;
    align-self: flex-end;
    align-items: flex-end;
    gap: 2rem;
  }

  .button {
    font-size: 1.125rem;
    white-space: nowrap;
  }

  .technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  .projects-banner {
    max-width: 1000px;
    padding: 2rem 2.5rem;
    flex-direction: row;
    gap: 1rem;
  }

  .projects-banner .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
  }

  .interests h2 {
    margin-bottom: 2rem;
  }

  .interests ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    width: 90vw;
    max-width: 1000px;
  }

  .interests ul li {
    flex: 1;
  }
}
